<script id="bootstrap-current-user" type="text/javascript">
  <% if logged_in? %>
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
    window.profile = {bio: window.currentUser.bio, photo_url: window.currentUser.photo_url};
  <% end %>
</script>

<head>
  <link rel='shortcut icon' href='favicon.ico' type='image/x-icon'/ >
</head>


<main id="root">

</main>
