/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@font-face {
  font-family: "RNS-B";
  src: asset-url('RNS-B.ttf');
}

// RESET

html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", sans-serif;
  background: #F7F5F2;
  /* background: #F8F9FD; */
}

.content {
  display: block;
}

img {
  display: block;
}

.group {
  content: "";
  clear: both;
  display: block;
}

/* IndexRoute */

.home-container {
}

.home-main-picture {
  height: auto;
  width: 100%;
  margin: 0 auto;
}
/*Header Bar*/

header {
  background: #fff;
}

header:after {
  content: "";
  display: block;
  clear: both;
}

.rightCorner {
  display: inline-block;
  float: right;
}

.rightCorner li {
  float: right;
}

.login-signup .Link {
  margin: 0 25px;
  padding: 20px 0;
  position: relative;
  display: block;
  float: right;
}

.profile-cloned {
  color: blue;
  font-family: RNS-B;
  font-size: 32px;
}

.profile-starter {
  color: 	#3CB371;
  font-family: RNS-B;
  font-size: 32px;
}

.profile-picture {
  height: 58px;
  width: 58px;
  float: right;
  margin-left: 25px;
}

.profile-picture:hover {
  cursor: pointer;
}

.logout {
  float: right;
  display: block;
  margin: 0 25px;
  padding: 20px 0px;
}

.search-icon {
  display: block;
  width: 18px;
  height: 18px;
  padding: 20px 0px;
  float: right;
  margin: 0px 50px 0 25px;
  margin-right: 50px;
}

.mag-glass {
  display: block;
  width: 100%;
  height: auto;
}

.search-icon:hover .mag-glass {
  opacity: .4;
}

header .left
{
  float: left;
  width: 40%;

}

.left li {
  float: left;
}

header .mid
{
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: inline-block;
  padding-top: 6px;
}

header .logo {
  font-weight: bold;
  font-size: 24px;
  display: block;
  padding-top: 14px;
  padding-bottom: 25px;
  width: 20%;
  margin: 0;
}

header .right{
  width: 40%;
  float: right;
  display: inline-block;
}

header .Link {
  float: left;
  margin: 0 25px;
  display: block;
  padding: 20px 0;
  position: relative;
}

header .hover-bar {
  opacity: 0;
  display: block;
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #0c0;
}

header .Link:hover .hover-bar {
  opacity: 1;
}

header button:hover {
  cursor: pointer;
}

.guest {
  margin-right: 50px;
}

/*AuthForm*/

.login-form-container {
  background: #fff;
  display: block;
  width: 350px;
  padding: 25px;
  margin: 0 auto;
  margin-top: 60px;
}

.login-input {
  margin: 20px 0;
  border: 1px solid black;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #dad7d4;
  width: 338px;
}

.login-button {
  text-align: center;
  background: #25CB68;
}

.login-button:hover {
  cursor: pointer;
  background: #05AF3C;
}

.form-type {
  font-size: 30px;
}

/* Error Page */

.error .content {
  display: block;
  height: 270px;
  width: 530px;
  border-radius: 6px;
  border: 1px solid black;
  padding: 25px;
  margin: 0 auto;
  margin-top: 25px;
  background: #F8F9FD;
}

.error h1 {
  font-size: 52px;
  color: #020621;
  display: block;
}

.ohMy {
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;
}

.error .message {
  display: block;
  margin-bottom: 20px;
}

.error .home-page-link {
  display: block;
  margin-bottom: 20px;
}

.error-cloned {
  color: blue;
  font-family: RNS-B;
  font-size: 24px;
}

.error-starter {
  color: 	#3CB371;
  font-family: RNS-B;
  font-size: 24px;
}

.error {
  width: 570px;
  margin: 100px auto 0 auto;
}

/* Profile Container */

.profile-edit-container {
  background: #fff;
  display: block;
  width: 600px;
  padding: 25px;
  margin: 0 auto;
  margin-top: 60px;
}

.photo-url-input, .bio-input {
  display: block;
  margin: 10px 0;
  border: 1px solid black;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #dad7d4;
  width: 580px;
}

.bio-input {
  height: 300px;
  vertical-align: top;
}

.profile-submit {
  text-align: center;
  background: #25CB68;
  padding: 5px;
  border: 1px solid #dad7d4;
  border-radius: 4px;
  font-size: 24px;
}

.profile-submit:hover {
  cursor: pointer;
  background: #05AF3C;
}

/* ProjectForm */

.project-form-container {
  background: #fff;
  display: block;
  width: 700px;
  padding: 25px;
  margin: 0 auto;
  margin-top: 60px;
}

.project-input {
  margin: 20px 0;
  border: 1px solid black;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #dad7d4;
  width: 678px;
}

.project-button {
  text-align: center;
  background: #25CB68;
  width: 300px;
}

.project-button:hover {
  cursor: pointer;
  background: #05AF3C;
}

.form-type {
  font-size: 30px;
}

.project-description {
  height: 200px;
}

.pro-label {
  display: block;
  font-size: 24px;
  margin: 20px 0;
}

.project-add-reward {
  display: block;
  margin: 0 auto;
  border: 1px solid black;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #dad7d4;
  width: 100px;
  background: green;
  color: #fff;
  text-align: center;
}

.project-add-reward:hover {
  cursor: pointer;
}

.project-create-rewards-container {
  margin: 0 auto;
  width: 600px;
  border-top: 2px solid black;
  padding: 25px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.project-create-rewards-header {
  font-size: 32px;
  text-align: center;
  margin: 20px 0;
  display: block;
}

.project-create-reward {
  background: #F8F9FD;
  display: block;
  margin: 20px 0;
  border: 1px solid black;
}

.project-create-rewards-el {
  display: block;
  margin: 0 auto;
  border-bottom: 1px solid black;
}

.project-create-rewards-input {
  display: block;
  padding: 10px;
  border: 1px solid #eee;
  margin: 20px 0;
  background: #eee;
  width: 100%;
}

.project-create-rewards-textarea {
  height: 300px;
}

.project-create-rewards-list {

}

.project-create-rewards-label {
  font-size: 24px;
  display: block;
  margin: 20px;
}

/* ProjectShow */

.project-show-container {
  background: #fff;
  display: block;
  width: 700px;
  padding: 25px;
  margin: 0 auto;
  margin-top: 60px;
}

.project-show-element {
  margin: 20px 0;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #dad7d4;
  width: 678px;
}

.project-show-head-photo {
  width: 500px;
  height: 500px;
  margin: 40px auto 25px auto;
}

.pro-show-label {
  display: block;
  font-size: 24px;
  margin: 20px 0;
}

.project-show-description {
}

.project-show-rewards {
  width: 650px;
  padding: 25px;
  margin: 0 auto;
  margin-top: 60px;
  background: #F8F9FD;
}

.project-show-reward {
  background: #F8F9FD;
  padding: 20px;
  display: block;
  margin: 20px 0;
  border: 1px solid black;
}

.project-show-reward-el {

}

.project-show-reward-title {

}
.project-show-reward-body {

}
.project-show-reward-cost {

}
.project-show-reward-limit {

}
.project-show-reward-button {

}

/* SearchBar and Results */

.search-bar-input {
  display: block;
  width: 500px;
  border-radius: 6px;
  margin: 60px;
  border: 1px solid #dad7d4;
  padding: 10px;
}

/* About Page */

.about-page {
  display: block;
  height: 270px;
  width: 530px;
  border-radius: 6px;
  border: 1px solid black;
  padding: 40px;
  margin: 0 auto;
  margin-top: 60px;
  background: #F8F9FD;
}

.about-title {
  text-align: center;
  color: 	#48D1CC;
  font-size: 32px;
}

.about-paragraph {
  display: block;
  margin: 20px 0;
  text-align: center;
}

/* Discover Page */
