/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@font-face {
  font-family: "RNS-B";
  src: asset-url('RNS-B.ttf');
}

// RESET

html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", sans-serif;
  background: #F7F5F2;
}

img {
  display: block;
}

.group {
  content: "";
  clear: both;
  display: block;
}
/*Header Bar*/

header {
  background: #fff;
}

header:after {
  content: "";
  display: block;
  clear: both;
}

.rightCorner {
  display: inline-block;
  float: right;
}

.rightCorner li {
  float: right;
}

.login-signup .Link {
  margin: 0 25px;
  padding: 20px 0;
  position: relative;
  display: block;
  float: right;
}

.profile-cloned {
  color: blue;
  font-family: RNS-B;
  font-size: 32px;
}

.profile-starter {
  color: 	#3CB371;
  font-family: RNS-B;
  font-size: 32px;
}

.profile-picture {
  height: 58px;
  width: 58px;
  float: right;
  margin-left: 25px;
}

.profile-picture:hover {
  cursor: pointer;
}

.logout {
  float: right;
  display: block;
  margin: 0 25px;
  padding: 20px 0px;
}

.search {
  display: block;
  width: 18px;
  height: 18px;
  padding: 20px 0px;
  float: right;
  margin: 0px 25px;
}

.mag-glass {
  display: block;
  width: 100%;
  height: auto;
  margin-right: 50px;
}

header .left
{
  float: left;
  width: 40%;

}

.left li {
  float: left;
}

header .mid
{
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: inline-block;
  padding-top: 6px;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  display: block;
  padding-top: 14px;
  padding-bottom: 25px;
  width: 20%;
  margin: 0;
}

header .right{
  width: 40%;
  float: right;
  display: inline-block;
}

header button {
  float: left;
  margin: 0 25px;
  display: block;
  padding: 20px 0;
  position: relative;
}

header .hover-bar {
  opacity: 0;
  display: block;
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #0c0;
}

header .Link:hover .hover-bar {
  opacity: 1;
}

header button:hover {
  cursor: pointer;
}

.guest {
  margin-right: 50px;
}

/*AuthForm*/

.login-form-container {
  background: #fff;
  display: block;
  width: 350px;
  padding: 25px;
  margin: 0 auto;
  margin-top: 60px;
}

.login-input {
  margin: 20px 0;
  border: 1px solid black;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #dad7d4;
  width: 338px;
}

.login-button {
  text-align: center;
  background: #25CB68;
}

.login-button:hover {
  cursor: pointer;
  background: #05AF3C;
}

.form-type {
  font-size: 30px;
}
