/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/*Reset*/
html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

body {
  font-family: sans-serif;
}

img {
  display: block;
}

/*Header Bar*/

.rightCorner {
  display: inline-block;
  float: right;
}

.profile-cloned {
  color: red;
}

.profile-starter {
  color: blue;
}

.profile-picture {
  height: 60px;
  width: 60px;
}

.left
{
  float: left;
  width: 40%;

}

.left li {
  float: left;
}

.mid
{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  display: block;
  padding-top: 14px;
  padding-bottom: 25px;
}

.right{
  width: 40%;
  float: right;
}

.group {
  content: "";
  clear: both;
  display: block;
}

.header-nav button {
  float: left;
  margin: 0 25px;
  display: block;
  padding: 20px 0;
  position: relative;
}

.header-nav .hover-bar {
  opacity: 0;
  display: block;
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #0c0;
}

.header-nav button:hover .hover-bar {
  opacity: 1;
}

/*Error Page*/
